{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load filters %}

{% block content %}
<head>
    <title>Workflow for annotation project</title>
</head>
<body>
    <h1>Workflow for annotation project</h1>
    <ol>
        <li>Name project</li>
        <li>Import Data files</li>
        <li><a href="/sensormodel/">Create the deployment</a></li>
        <li><a href="/subjectannotation/">Create subject annotation task</a></li>
        <li><a href="/projects/">Annotate subjects in video</a></li>
        <li>Import annotated data</li>
    </ol>
</body>


{% endblock %}